conda.enabled = true

params {
   
   results  = "${projectDir}/results"
   scripts  = "${projectDir}/scripts"

}

executor {
   name="slurm"
}

process { 

   withLabel: "SmallMem" {
      cpus='1'
      time=48.h
      memory=6.GB
      queue='Orion'
      cache='lenient'
   }

   withLabel: "MedMem" {
      cpus='1'
      time=48.h
      memory=24.GB
      queue='Orion'
      cache='lenient'
   }

   withLabel: "BigMem" {
      cpus='1'
      time=48.h
      memory=200.GB
      queue='Orion'
      cache='lenient'
   }

   withLabel: "DynamicAlloc" {
      cpus='1'
      time='48.h'
      memory = 
         { 16.GB * task.attempt}
      errorStrategy = 
         {task.exitStatus in 137..140 ? 'retry': 'terminate'}
      cache='lenient'
      maxRetries = 4
   }

   withLabel: "DTN" {
      cpus='1'
      time='10.h'
      queue='DTN'
      cache='lenient'
   }

   withLabel: "GPU" {
      queue = 'GPU'
      time = '40h'
      memory = '20 GB'
      clusterOptions = '--gres=gpu:1 --nodes=1 --cpus-per-task=4 --ntasks=1'
   }

   withLabel: "Nebula_GPU" {
      queue = 'Nebula_GPU'
      time = '40h'
      memory = '30 GB'
      clusterOptions = '--gres=gpu:1 --nodes=1 --cpus-per-task=4 --ntasks=1'
   }

   withLabel: "PythonMultiprocess" {
         queue="Nebula"
         cpus="32"
         time="48.h"
         memory="200.GB"
         cache="lenient"
      }


}